@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared styles */
body {
    margin: 0;
    background-color: white;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.display-flex {
    display: flex;
}

.color-palette {
    color: #000000;
    color: #1b4332;
    color: #2d6a4f;
    color: #228b22;
    color: #28DF99;
    color: #99F3BD;
    color: #d8f3dc;
    color: #D2F6C5;
    color: #d8f3dc;
    color: #ffffff;
}

.btn-primary {
    background-color: #1b4332;
    color: #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

.btn-primary:hover {
    background: #228b22;
}

.btn-secondary {
    color: #1b4332;
    padding: 0px 15px 10px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 5px;
    border-bottom: 5px solid #1b4332;
}

.btn-join {
    background-color: #1b4332;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s;
}


/* Navbar styles */
.brand {
    font-weight: 700;
    font-size: 2rem;
    color: #1b4332;
}

.navbar {
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    position: sticky;
    top: 0;
}

.nav-link {
    color: #1b4332;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s;
}

.nav-links a:hover {
    color: forestgreen;
}

/* Index.html css */

/* Bannner styles */
.banner {
    height: 80vh;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.banner-content {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-image {
    width: 100%;
    margin: 0;
}

/*Mission Sections styles */
.mission-section {
    padding: 80px 10%;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(27, 67, 50);
    margin-bottom: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.mission-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.mission-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    border: 5px dashed forestgreen;
}

/* Info section styles*/
.info-section {
    background-color: #1b4332;
    color: white;
    padding: 50px 10%;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.info-item {
    margin: 20px;
}

.count {
    font-size: 3rem;
    font-weight: bold;
    display: block;
}

/* knowledge section styles */
.knowledge-section {
    background-color: #f5f5dc;
    align-items: center;
    flex-wrap: wrap;
}

.knowledge-content {
    flex: 1;
    padding: 80px 10%;
}

.knowledge-image {
    flex: 1;
    min-width: 300px;
}

.knowledge-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Projects section styles */
.projects-section {
    padding: 80px 10%;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.project-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.p-content {
    padding: 20px;
}

/* Club Section styles*/
.club-section {
    background-color: #d8f3dc;
    padding: 40px 10%;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
}

.club-content {
    flex: 1;
    min-width: 300px;
    padding-right: 20px;
}

.club-form {
    flex: 1;
    min-width: 300px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #d8f3dc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #1b4332;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn-submit:hover {
    background-color: forestgreen;
}

footer {
    background: #1b4332;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Knowledge.html css */

/* Header styles */
.header-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #2d6a4f;
    color: white;
}

.header-section h1 {
    margin: 0;
    font-size: 2.5rem;
}

.header-section p {
    font-size: 1.2rem;
    opacity: 0.9;
}

/* Search Bar Styling */
.search-container {
    text-align: center;
    margin-top: -25px;
    margin-bottom: 20px;
}

#searchInput {
    padding: 15px 25px;
    width: 60%;
    max-width: 500px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: box-shadow 0.3s;
}

#searchInput:focus {
    box-shadow: 0 4px 15px #1b4332;
    ;
}

/* Filter container styles */
.filter-container {
    text-align: center;
    padding: 30px;
}

.filter-btn {
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #1b4332;
    background: white;
    color: #1b4332;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.filter-btn:hover,
.filter-btn.active {
    background-color: #1b4332;
    color: white;
}

/* Tree Grid styles */
.tree-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px 10%;
    max-width: 1200px;
    margin: 0 auto 50px auto;
}

.tree-card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
}

.tree-card:hover {
    transform: translateY(-5px);
}

.tree-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    flex-grow: 1;
}

.badge {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.bg-fruit {
    background-color: #ffecc2;
    color: #e67e22;
}

.bg-flower {
    background-color: #ffd6e0;
    color: #d63384;
}

.bg-medicine {
    background-color: #d1e7dd;
    color: #0f5132;
}

.bg-food {
    background-color: #cff4fc;
    color: #055160;
}

.bg-timber {
    background-color: #efebe9;
    color: #5d4037;
}

.scientific-name {
    font-style: italic;
    color: #666;
    font-size: 0.9rem;
}

.info-footer {
    background-color: #d8f3dc;
    padding: 15px 20px;
    border-top: 1px solid #d8f3dc;
    font-size: 0.9rem;
}

/* About.html css */

/* Header Section styles */
.about-header {
    background: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.about-header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

/* Blog Section styles */
.blog-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
    line-height: 1.8;
    color: #1b4332;
}

.blog-section {
    margin-bottom: 60px;
}

.blog-section h2 {
    font-size: 2rem;
    color: #1b4332;
    border-left: 5px solid #1b4332;
    padding-left: 15px;
    margin-bottom: 20px;
}

/* What We Do section styles */
.activity-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.activity-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
    border-top: 4px solid #1b4332;
}

.activity-icon {
    font-size: 2.5rem;
    margin-bottom: 15px;
    display: block;
}

/* Comparison section section styles */
.impact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.impact-box {
    padding: 30px;
    border-radius: 12px;
}

.benefits {
    background-color: #99F3BD;
    border: 1px solid #99F3BD;
}

.risks {
    background-color: #F6F7D4;
    border: 1px solid #F6F7D4;
}

.impact-box h3 {
    margin-top: 0;
    font-size: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.benefits h3 {
    color: #1b4332;
}

.risks h3 {
    color: #1b4332;
}

.impact-list {
    list-style: none;
    padding: 0;
}

.impact-list li {
    margin-bottom: 12px;
    padding-left: 25px;
}

/* Custom Bullet Points */
.benefits li::before {
    content: '✔  ';
    left: 0;
    color: #228b22;
    font-weight: bold;
}

.risks li::before {
    content: '⚠  ';
    left: 0;
    color: #ff0000;
    font-weight: bold;
}