@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared styles */

body {
    margin: 0;
    background-color:white;
}

h1,h2,h3,h4 {
    margin: 0;
}

.display-flex {
    display: flex;
}

.text-gray {
    color: #424242;
}

.btn-primary {
    background-color: forestgreen;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

.btn-primary:hover {
    background: darkgreen;
}

.btn-secondary {
    background-color: darkgreen;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

/* Navbar styles */

.brand {
    font-weight: 700;
    font-size: 2rem;
    color: forestgreen;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%; 
    position: sticky;
}

.nav-links a {
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    font-size: 1.25rem;
    transition: 0.3s;
}

.nav-links a:hover {
    color:forestgreen
}

/* Bannner styles */

.banner {
    height: 80vh;
    background: url('https://images.unsplash.com/photo-1542601906990-b4d3fb778b09?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.banner-content {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-image {
    width: 100%;
    margin: 0;
}
