@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared styles */

body {
    margin: 0;
    background-color:white;
}

h1,h2,h3,h4 {
    margin: 0;
}

.display-flex {
    display: flex;
}

.primary-color {
    color: rgb(27, 67, 50);
}

.secondary-color{
    color: beige;
}

.btn-primary {
    background-color: rgb(27, 67, 50);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

.btn-primary:hover {
    background:forestgreen;
}

.btn-secondary {
    /* background-color:rgb(27, 67, 50); */
    color: rgb(27, 67, 50);;
    padding: 0px 15px 10px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 5px;
    border-bottom: 5px solid rgb(27, 67, 50);
}


/* Navbar styles */

.brand {
    font-weight: 700;
    font-size: 2rem;
    color: rgb(27, 67, 50);
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%; 
    position: sticky;
}

.nav-links a {
    color: rgb(27, 67, 50);
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s;
}

.nav-links a:hover {
    color:forestgreen;
}

/* Bannner styles */

.banner {
    height: 80vh;
    background: url('https://images.unsplash.com/photo-1542601906990-b4d3fb778b09?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.banner-content {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-image {
    width: 100%;
    margin: 0;
}

/*Mission Sections styles */

.mission-section {
    padding: 80px 10%;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(27, 67, 50);;
    margin-bottom: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.mission-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.mission-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    border: 5px dashed forestgreen;
}

/* Info section styles*/

.info-section {
    background-color:rgb(27, 67, 50);
    color: white;
    padding: 50px 10%;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.info-item {
    margin: 20px;
}

.count {
    font-size: 3rem;
    font-weight: bold;
    display: block;
}

/* Teaser */

.knowledge-section {
    display: flex;
    background-color:beige;
    align-items: center;
    flex-wrap: wrap;
}

.knowledge-content {
    flex: 1;
    padding: 80px 10%;
}

.knowledge-image {
    flex: 1;
    min-width: 300px;
}

.knowledge-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

